<div class="container main-content">
    <section class="py-5 login">
        <div class="row justify-content-center">
            <div class="col-md-4 shadow-sm p-4 bg-white rounded">
                <div *ngIf="message != null" class="alert" [ngClass]="{'alert-success':isSuccess,'alert-danger':!isSuccess}">
                    {{message}}
                </div>

                <h4 class="text-center">Login</h4>
                <form [formGroup]="loginForm" (submit)="loginFormSubmit()">
                    <div class="form-group">
                        <label>Username</label>
                        <input formControlName="username" type="email" class="form-control" [class.is-invalid]="isLoginFormSubmitted && username.errors">
                        <div *ngIf="isLoginFormSubmitted && username.errors" class="invalid-feedback">
                            <p *ngIf=" username.errors?.required">Username is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input formControlName="password" type="password" class="form-control" [class.is-invalid]="isLoginFormSubmitted && password.errors">
                        <div *ngIf="isLoginFormSubmitted && password.errors" class="invalid-feedback">
                            <p *ngIf=" password.errors?.required">Password is required</p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a routerLink='/register' class="ml-2 small-text">Register here</a>
                </form>
            </div>
        </div>
    </section>
</div>