<div class="container main-content">
    <section class="my-5 p-4 bg-white rounded shadow dashboard">
        <div class="d-flex align-items-center">
            <div class="user-initial">{{name | slice:0:1 | uppercase}}</div>
            <div class="d-flex flex-column ml-4">
                <label class="dashboard__title mb-0">My To-do Lists</label>
                <label class="small-text">{{date | date:'EEEE, MMMM d, y'}}</label>
            </div>
        </div>


        <div class="tasks-grid mt-4">
            <div *ngFor="let category of getApiResponse" class="tasks-grid__item p-3 d-flex justify-content-between">
                <div class="task cursor-pointer" (click)="goToList(category.categoryId)">
                    <p class="mb-0 task__title">{{category.categoryName | titlecase}}</p>
                    <p class="task__count">{{category.taskCount}} task{{(category.taskCount > 1)?'s':''}}</p>
                </div>
                <div>
                    <i-feather name="edit-2" (click)="setAction('edit', category)" class="mr-2 action-icon"></i-feather>
                    <i-feather name="trash-2" (click)="deleteCategory(category.categoryId)" class="action-icon"></i-feather>
                </div>
            </div>

            <div class="tasks-grid__item p-3 d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-outline-light" (click)="setAction('add')">Create</button>
            </div>
        </div>

    </section>
</div>


<!-- Modal -->
<div class="modal fade" id="addNewCategory" tabindex="-1" role="dialog" aria-labelledby="addNewCategory" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body pt-0">
                <form [formGroup]="categoryForm" (submit)="categoryFormSubmit()">
                    <div class="form-group">
                        <label class="col-form-label text-bold" for="categoryName">List / Category Name</label>
                        <input formControlName="categoryName" class="form-control input-text" type="text" [class.is-invalid]="categoryFormSubmitted && (categoryName.errors || nameAlreadyExists)" />
                        <div *ngIf="categoryFormSubmitted" class="error-feedback">
                            <div *ngIf="categoryName.errors && categoryName.errors.required">Name is required</div>
                            <div *ngIf="nameAlreadyExists">Name already exists</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary float-right">{{(actionType === 'edit')?'Update':'Create'}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>